<div class='option-wrapper'>
  <ul>
    <li class='option' id='question.qid' *ngFor='let opt of question.options' (click)='setOptionSelected(opt)'>
      <a href='#' [ngClass]="{'play': true, 'white': selectedOption != opt, 'yellow': selectedOption == opt}"><fa-icon [icon]='faCaretRight'></fa-icon></a>
      <span>{{opt}}</span>
    </li>
  </ul>
  <div class='submit-panel'>
    <a [ngClass]="{'glass': true, 'disabled': !selectedOption}" (click)="submitAns()">OK</a>
    <a class='glass'>Reset</a>
  </div>
</div>