<div class='option-wrapper'>
  <ul>
    <li class='option'><a href="#" class='play white'><fa-icon [icon]="faCaretRight"></fa-icon></a><span>danger</span></li>
    <li class='option'><a href="#" class='play white'><fa-icon [icon]="faCaretRight"></fa-icon></a><span>partner</span></li>
    <li class='option'><a href="#" class='play white'><fa-icon [icon]="faCaretRight"></fa-icon></a><span>splendid</span></li>
    <li class='option'><a href="#" class='play white'><fa-icon [icon]="faCaretRight"></fa-icon></a><span>special</span></li>
  </ul>
  <div class='submit-panel'>
    <a class="glass">OK</a>
    <a class="glass">Reset</a>
  </div>
</div>